<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>

    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div id="admin-container" class="username-page-container">
        <div class="chat-header">
            <form th:action="@{/logout}" class="user-container" method="post">
                <button type="submit" class="accent">Logout</button>
            </form>
            <form action="/admin/changePassword" class="user-container">
                <button type="submit" class="accent">Change password</button>
            </form>
            <h2 class="title">List of users</h2>
        </div>

        <div id="all-users-container">
            <table id="users-list">
                <thead>
                    <tr align="left">
                        <th>Name</th>
                        <th>Role</th>
                        <th>Edit Panel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.login}"></td>
                        <td th:text="${user.roles}"></td>
                        <td><a th:href="@{/admin/{userId} (userId=${user.id})}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</body>
</html>