<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Web Chat</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
</head>

<body>
    <div th:if="${role}=='operator' or ${role}=='user'" id="invite-container" class="username-page-container">
        <div class="chat-header">
            <form th:action="@{/logout}" class="user-container" method="post">
                <button type="submit" class="accent" onclick="logout()">Logout</button>
            </form>
            <h2 class="title"> Welcome, <span id="username" th:text="${username}"></span>!</h2>
        </div>

        <div th:if="${role}=='operator'" id="operator-container">
            <div id="emptyRoomName" class="hidden">
                <p class="error-event">Please, enter the chat-room name!</p>
            </div>
            <p>You've logged in as interviewer so you can create chat-rooms and invite experts there. </p>
            <p>First, enter the name of a new chat-room:</p>
            <form id="chatRoomForm" name="chatRoomForm">
                <div class="form-group">
                    <input type="text" width="30%" id="newRoomName" placeholder="RoomID" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="button" class="accent" onclick="connectOperator()">Create new chat-room</button>
                </div>
            </form>
        </div>

        <div>
            <p> Here's your invitation room. Click on one of the invitations below to start the chat. </p>
        </div>

        <div>
            <ul id="inventionArea" class="scrollbox">
            </ul>
        </div>
    </div>

    <div th:if="${role}=='anonymous'" id="anonymous-container" class="username-page-container">
        <h2 class="title">Name: <span id="username" th:text="${username}"></span></h2>
        <h2 class="title"> Room: <span id="currRoomName" th:text="${roomName}"></span></h2>
        <p id="roomUID" th:text="${roomId}" class="hidden"></p>
        <p class="chat-message">Click 'Connect' to connect to the chat-room:</p>
        <form id="acceptInvite" name="acceptInvite">
            <div class="form-group">
                <button type="button" onclick="connectAnonymous()">Connect</button>
            </div>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit" onclick="logout()">Logout</button>
        </form>
    </div>


    <div id="chat-container" class="hidden">
        <div class="chat-header">
            <!--<form th:action="@{/logout}" class="user-container" method="post">-->
                <!--<button type="submit" onclick="logout()">Logout</button>-->
            <!--</form>-->
            <form th:if="${role}=='operator' or ${role}=='user'" class="user-container">
                <button type="button" onclick="quit()">Quit</button>
            </form>
            <form id="invite-users" th:if="${role}=='operator'" class="user-container">
                <button type="button" onclick="openUsersList()">Invite user</button>
                <button type="button" onclick="changeDialog()">Start new dialog</button>
            </form>
            <h2 align="left">Tools:</h2>
        </div>
        <div class="chat-header">
            <h2>Web Chat [<span th:text="${username}"></span>] [Room: <span id="room_id_display"></span>]</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">
        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" autocomplete="off" placeholder="Type a message..." class="form-control" />
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>

    <div id="all-users-container" class="hidden">
        <h2 class="title">Invite user by e-mail:</h2>
        <div id="emptyEmail" class="hidden">
            <p class="error-event">Please, enter the e-mail!</p>
        </div>
        <form id="inviteForm" name="inviteForm">
            <input type="email" id="email" placeholder="E-mail" autocomplete="off" class="form-control" />
            <br><br>
            <button type="button" onclick="sendInviteByEmail()">Invite by e-mail</button>
        </form>
        <h2 class="title">All users online:</h2>
        <div class="scrollbox">
            <ul id="userListArea">
            </ul>
        </div>
        <button type="button" onclick="closeUsersList()">Back to chat</button>
    </div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>