<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<div id="operator-container">
    <ul id="userListArea">
    </ul>

    <div>
        <span>Диалоги:</span>
        <ul id="dialogs">
            <li class="dialog">
                <span class="dialog-name">Палата №6</span>
            </li>
        </ul>
    </div>

</div>

<script th:src="@{/js/operator.js}"></script>

</body>
</html>