<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Out</title>
    <link rel="stylesheet" href="/css/main.css" />

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="login-container" class="username-page-container">
    <h1 class="title">Sign out:</h1>
    <form id="signOutForm" name="signOutForm" method="POST">
        <div class="form-group">
            <input type="text" name="username" placeholder="Your username" autocomplete="off" class="form-control" />
            <br><br>
            <input type="email" name="email" placeholder="Your e-mail" autocomplete="off", class="form-control">
            <br><br>
            <input type="password" name="password" placeholder="Your password" autocomplete="off" class="form-control" />
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="accent username-submit">Sign out</button>
        </div>
        <div class="form-group">
            <a th:href="@{/goToSignInPage}">Return to Sign In page</a>
        </div>
    </form>
</div>
</body>
</html>